<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tobby.dailyapp.blog.mapper.BlogMapper">
    <insert id="insertBlog"
    >
        INSERT INTO blog_article (title, category, content)
            VALUE (
                   #{title},
                   #{category},
                   #{content}
            )
    </insert>
    <insert id="insertBlogFile">
        INSERT INTO daily_db.blog_s3_file (name)
        VALUES
        <foreach collection="names" item="name" separator=",">
            (#{name})
        </foreach>
    </insert>
    <select id="getZipFile">
        SELECT id, name, uploaded AS done, UNIX_TIMESTAMP(created_at) * 1000 as createdAt
        FROM daily_db.blog_s3_file
        WHERE uploaded = 0
        LIMIT 50
    </select>
</mapper>
