<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tobby.dailyapp.blog.mapper.BlogMapper">
    <insert id="insertBlog"
    >
        INSERT INTO blog_article (title, category, content)
            VALUE (
                   #{title},
                   #{category},
                   #{content}
            )
    </insert>
</mapper>